<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des vidéos</title>
    <!-- Inclure Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1><i class="fas fa-video"></i> Register  user</h1>

<form class="container mt-5" th:action="@{/user}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="nom"><i class="fas fa-heading"></i>nom</label>
        <input type="text" id="nom" name="nom" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="adress"><i class="fas fa-link"></i>adress</label>
        <input type="text" id="adress" name="adress" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="email"><i class="fas fa-info-circle"></i>email</label>
        <input type="text" id="email" name="email" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="mdps"><i class="fas fa-info-circle"></i>mot de passe</label>
        <input type="text" id="mdps" name="mdps" class="form-control" required />
    </div>


    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Register user</button>
</form>

<!-- Inclure jQuery et Bootstrap JS pour les fonctionnalités avancées de Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>