<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passer une commande</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            padding-top: 20px;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        .table {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="mb-0">Passer une commande</h1>
        </div>
        <div class="card-body">
            <h2>Produits dans le panier :</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">Nom du produit</th>
                        <th scope="col">Prix</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="panier : ${listeDesProduitsDansLePanier}">
                        <td th:text="${panier.product.nom}"></td>
                        <td th:text="${panier.product.price}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <h2>Total : <span th:text="${prixTotal}"></span></h2>

            <form method="post" action="/ajouter-adresse">
                <div class="form-group">
                    <label for="rue">Rue :</label>
                    <input type="text" id="rue" name="rue" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="codepostal">Code Postal :</label>
                    <input type="text" id="codepostal" name="codepostal" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="arrondissements"><i class="fas fa-info-circle"></i> Arrondissement</label>
                    <select id="arrondissements" name="arrondissements" class="form-control">
                        <option value="">Sélectionnez un arrondissement</option>
                        <option th:each="arr : ${arrondissements}" th:value="${arr.id}" th:text="${arr.nom}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-dark">Confirmer la commande</button>
            </form>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
